[Desktop Entry]
Name=Automation plugin
Name[ca]=Endollable d'automatització
Name[da]=Automatiseringsplugin
Name[de]=Modul zur Automatisierung
Name[el]=Πρόσθετο αυτοματοποίησης
Name[es]=Complemento de automatización
Name[et]=Automatiseerimine plugin
Name[fr]=Module Automation
Name[ga]=Breiseán uathoibrithe
Name[gl]=Extensión de automatización
Name[it]=Plugin di automazione
Name[ja]=自動化プラグイン
Name[ko]=자동화 플러그인
Name[lv]=Automatizācijas spraudnis
Name[nds]=Automatiseer-Moduul
Name[nl]=Automatiseringsplugin
Name[pl]=Wtyczka automatyzacji
Name[pt]='Plugin' de automatização
Name[pt_BR]=Plugin de automação
Name[ro]=Modul automat
Name[sv]=Insticksprogram för automatisering
Name[th]=ปลั๊กอินอัตโนมัติ
Name[tr]=Otomasyon eklentisi
Name[uk]=Додаток автоматизації
Name[x-test]=xxAutomation pluginxx
Name[zh_CN]=自动化插件
Name[zh_TW]=自動化外掛程式
Comment=Allow configuration of automated tasks
Comment[ca]=Permet la configuració de tasques automàtiques
Comment[da]=Tillad indstilling af automatiserede opgaver
Comment[de]=Einrichtung von automatisierten Aufgaben erlauben
Comment[el]=Επιτρέπει τη ρύθμιση αυτοματοποιημένων εργασιών
Comment[es]=Permite la configuración de tareas automatizadas
Comment[et]=Automatiseeritud ülesannete seadistamise lubamine
Comment[fr]=Autoriser la configuration de tâches automatisées
Comment[ga]=Ceadaigh cumraíocht de thascanna uathoibrithe
Comment[gl]=Permite configurar tarefas automátizadas
Comment[it]=Permette la configurazione di compiti automatici
Comment[ja]=リンクチェックの自動化を可能にします
Comment[ko]=자동화된 작업을 설정합니다
Comment[lv]=Atļauj konfgurēt auotmatizētus procesus
Comment[nds]=Mit dit Moduul laat sik Opgaven automaatsch utföhren
Comment[nl]=Configuratie van geautomatiseerde taken toestaan
Comment[pl]=Pozwala na konfigurację zautomatyzowanych zadań
Comment[pt]=Permitir a configuração de tarefas automatizadas
Comment[pt_BR]=Permite a configuração de tarefas automatizadas
Comment[ro]=Permite configurarea sarcinilor automatizate
Comment[sv]=Tillåt inställning av automatiserade uppgifter
Comment[th]=ใช้เพื่อตั้งค่างานแบบอัตโนมัติ
Comment[tr]=Otomatik görevlerin yapılandırılmasına izin ver
Comment[uk]=Надає вам можливість налаштувати автоматичні завдання
Comment[x-test]=xxAllow configuration of automated tasksxx
Comment[zh_CN]=允许您配置自动任务
Comment[zh_TW]=允許設定自動化的工作
Type=Service
X-KDE-Library=automationklinkstatus
X-KDE-Version=1

