<KrossScripting version="2">

    <collection name="file">
        <script
            name="statistics_script"
            text="Statistics"
            comment="Statistics Script"
            interpreter="ruby"
            file="statistics.rb" />
    </collection>

</KrossScripting>
