[Desktop Entry]
Name=Scripting plugin
Comment=Allow execution of scripts
Type=Service
X-KDE-Library=krossmoduleklinkstatus
X-KDE-Version=2
X-KDE-PluginKeyword=scripts
