[Desktop Entry]
Name=Scripting plugin
Name[ca]=Endollable de guionatge
Name[da]=Scripting-plugin
Name[de]=Skript-Modul
Name[el]=Πρόσθετο σεναρίων
Name[es]=Complemento de scripting
Name[et]=Skriptiplugin
Name[fr]=Module Scripting
Name[ga]=Breiseán scriptithe
Name[gl]=Extensión de scripting
Name[hne]=स्क्रिप्टिंग प्लगइन
Name[hu]=Szriptkezelő modul
Name[is]=Skriftunaríforrit
Name[it]=Plugin di scripting
Name[ja]=スクリプティング用プラグイン
Name[ko]=스크립팅 플러그인
Name[lv]=Skroptēšanas spraudnis
Name[nds]=Skriptmoduul
Name[nl]=Scriptplugin
Name[pl]=Wtyczka skryptów
Name[pt]='Plugin' de programação
Name[pt_BR]=Plug-in de scripting
Name[sv]=Skript-insticksprogram
Name[th]=ปลั๊กอินสคริปต์
Name[tr]=Betik desteği eklentisi
Name[uk]=Додаток для написання скриптів
Name[x-test]=xxScripting pluginxx
Name[zh_CN]=脚本插件
Name[zh_TW]=文稿外掛程式
Comment=Allow execution of scripts
Comment[ca]=Permet l'execució de guions (scripts)
Comment[da]=Tillad afvikling af scripts
Comment[de]=Ausführung von Skripten erlauben
Comment[el]=Επιτρέπει την εκτέλεση σεναρίων
Comment[es]=Permite la ejecución de scripts
Comment[et]=Skriptide käivitamise lubamine
Comment[fr]=Permet l'exécution de scripts
Comment[ga]=Ceadaigh scripteanna a rith
Comment[gl]=Permite a execución de scripts
Comment[hne]=स्क्रिप्ट चलाना स्वीकारव
Comment[hu]=Szkriptvégrehajtó
Comment[is]=Leyfir að skriftur séu keyrðar
Comment[it]=Permette l'esecuzione di script
Comment[ja]=スクリプトの実行を可能にします
Comment[ko]=스크립트를 실행합니다
Comment[lv]=Atļauj izpildīt skriptus
Comment[nds]=Mit dit Moduul laat sik Skripten utföhren
Comment[nl]=Uitvoering van scripts toestaan
Comment[pl]=Pozwala na uruchamianie skryptów
Comment[pt]=Permitir executar programas ou 'scripts'
Comment[pt_BR]=Permite a execução de scripts
Comment[ro]=Permite executarea scripturilor
Comment[sv]=Möjliggör körning av skript
Comment[th]=ใช้เพื่อประมวลผลสคริปต์
Comment[tr]=Betik çalıştırmaya izin ver
Comment[uk]=Дозволяє виконання скриптів
Comment[x-test]=xxAllow execution of scriptsxx
Comment[zh_CN]=允许执行脚本
Comment[zh_TW]=允許執行文稿
Type=Service
X-KDE-Library=krossmoduleklinkstatus
X-KDE-Version=2
X-KDE-PluginKeyword=scripts
