[Desktop Entry]
Name=KLinkStatus
Exec=klinkstatus %i  -caption %c
Icon=klinkstatus
Type=Application
X-DBUS-StartupType=Unique
X-KDE-HasTempFileOption=true
X-DocPath=klinkstatus/index.html
Terminal=false
GenericName=Link Checker
Categories=Qt;KDE;Development;WebDevelopment;

