[Desktop Entry]
Name=KLinkStatusPart
Name[br]=KLinkStatusPart
Name[ca]=KLinkStatusPart
Name[ca@valencia]=KLinkStatusPart
Name[cs]=KLinkStatusPart
Name[da]=KLinkStatusPart
Name[de]=KLinkStatus-Komponente
Name[el]=KLinkStatusPart
Name[en_GB]=KLinkStatusPart
Name[es]=KLinkStatusPart
Name[et]=KLinkStatusPart
Name[eu]=KLinkStatusPart
Name[fi]=KLinkStatusPart
Name[fr]=KLinkStatusPart
Name[ga]=KLinkStatusPart
Name[gl]=KLinkStatusPart
Name[he]=KLinkStatusPart
Name[hne]=के-संकली-स्टेटस-पार्ट
Name[hu]=KLinkStatusPart
Name[is]=KLinkStatusPart
Name[it]=KLinkStatusPart
Name[ja]=KLinkStatusPart
Name[ko]=KLinkStatusPart
Name[lt]=KLinkStatusPart
Name[lv]=KLinkStatusPart
Name[ms]=KLinkStatusPart
Name[nb]=KLinkStatusPart
Name[nds]=KLinkStatus-Komponent
Name[ne]=केडीई लिङ्क वस्तुस्थिति भाग
Name[nl]=KLinkStatusPart
Name[nn]=KLinkStatusPart
Name[pa]=KLinkStatusPart
Name[pl]=KLinkStatusPart
Name[pt]=KLinkStatusPart
Name[pt_BR]=Componente do KLinkStatus
Name[ru]=Компонент KLinkStatus
Name[sk]=KLink status Part
Name[sl]=KLinkStatusPart
Name[sv]=Klinkstatus-delprogram
Name[ta]=Kதொகுதி நிலைமை பகுதி
Name[tg]=Қисми KLinkStatus
Name[th]=KLinkStatusPart
Name[tr]=KLinkStatusPart
Name[uk]=KLinkStatusPart
Name[x-test]=xxKLinkStatusPartxx
Name[zh_CN]=KLinkStatusPart
Name[zh_HK]=KLinkStatusPart
Name[zh_TW]=KLinkStatusPart
Icon=klinkstatus
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
X-KDE-ServiceTypes=KParts/ReadOnlyPart,KParts/ReadWritePart
X-KDE-Library=klinkstatuspart
Type=Service
