[Desktop Entry]
Name=KLinkStatus
Name[ne]=केडीई लिङ्क स्थिति
Name[sk]=KLink status
Name[sv]=Klinkstatus
Name[ta]=Kதொகுதி நிலைமை
Name[tr]=K Köprü Durumu
Exec=klinkstatus %i %m -caption "%c"
Icon=klinkstatus
Type=Application
DocPath=klinkstatus/index.html
Terminal=false
GenericName=Link Checker
GenericName[bg]=Проверка на препратки
GenericName[ca]=Comprovador d'enllaços
GenericName[cs]=Kontrola odkazů
GenericName[da]=Link-tjekker
GenericName[de]=Überprüfungswerkzeug für Verknüpfungen
GenericName[el]=Ελεγκτής σύνδεσης
GenericName[es]=Comprobador de enlaces
GenericName[et]=Viidakontrollija
GenericName[eu]=Esteka egiaztatzailea
GenericName[fa]=بررسی‌کنندۀ پیوند
GenericName[fi]=Linkkien tarkistaja
GenericName[fr]=Vérificateur de liens
GenericName[gl]=Verificador de ligazóns
GenericName[hu]=Linkellenőrző
GenericName[is]=Yfirfer tengla
GenericName[it]=Controllo dei collegamenti
GenericName[ja]=リンクチェッカー
GenericName[ka]=ბმულების შემმოწმებელი
GenericName[lt]=Nuorody tikrintuvė
GenericName[ms]=Pemeriksa Pautan
GenericName[nds]=Linkprööv
GenericName[ne]=लिङ्क परीक्षक
GenericName[nl]=Linkchecker
GenericName[pl]=Program sprawdzający odnośniki
GenericName[pt]=Verificação de Ligações
GenericName[pt_BR]=Verificador de Links
GenericName[ru]=Проверка ссылок
GenericName[sk]=Kontrole spojenia
GenericName[sl]=Preverjalnik povezav
GenericName[sr]=Провера везе
GenericName[sr@Latn]=Provera veze
GenericName[sv]=Länkkontroll
GenericName[ta]=இணைப்பு சரிபார்ப்பான்
GenericName[tg]=Тафтиши истинод
GenericName[tr]=Bağlantı Kontrolcüsü
GenericName[uk]=Перевірка посилань
GenericName[zh_CN]=链接检查器
GenericName[zh_HK]=連結檢查程式
GenericName[zh_TW]=連結檢查程式
Categories=Qt;KDE;Development;WebDevelopment;

