[Desktop Entry]
Encoding=UTF-8
Name=KLinkStatus
Name[sv]=Klinkstatus
Name[ta]=Kதொகுதி நிலைமை
Name[tr]=K Köprü Durumu
Name[xx]=xxKLinkStatusxx
Exec=klinkstatus %i %m -caption "%c"
Icon=klinkstatus
Type=Application
DocPath=klinkstatus/klinkstatus.html
Terminal=0
GenericName=Link Checker
